meu_workspace/install/
meu_workspace/build/
meu_workspace/log/
venv/

meu_workspace/src/cg_interfaces/CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

meu_workspace/src/pond_nicola/pond_nicola.egg-info/



